body{
    background-color: lightsalmon;
}
header{
    color: maroon;
    width: 500px;
    size: 120px;
    text-align: right;
    font-size: x-large;
    font-size: 400%;
    
  }

 section{ color: maroon;

 }
  